@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500
}

.chooseDay {
    @apply bg-primary text-white border-none
}

.chooseTime {
    @apply bg-primary text-white border-transparent
}

#root {
    overflow: hidden;
}

nav div {
    border-radius: 0px !important;
}

.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input:focus {
    box-shadow: none !important;
}